/* HEADER COMPONENT STYLING  */
.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
}

/* LOGO STYLING */
.logo{
    width: 150px;
}

/* NAVIGATION LINKS OR NAVBAR STYLING  */
 .nav-items{
    display: flex;
    list-style-type: none;
}

.nav-items > li{
    padding: 10px;
    margin: 10px;
    font-size: 24px;
}

/* BODY COMPONENT STYLING  */
.search {
    padding: 10px;
}

/* RESTAURANT CARD COMPONENT STYLING */
.res-container{
    display: flex;
    flex-wrap: wrap;
}

.res-card{
    margin: 5px;
    padding: 5px;
    width: 200px;
    background-color: #f0f0f0;
}

.res-card:hover{
    cursor: pointer;
    border: 1px solid #000;
}

.res-logo{
    width: 100%;
    
}
 
/* TOP RATED RESTAURANT BUTTON STYLING */
.filter-btn{
    margin: 10px;
    cursor: pointer;
}

/* SHIMMER UI COMPONENT STYLING  */
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    margin: 20px;
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
    
}

.login{
    padding: 0 20px;
    margin: 15px;
    cursor: pointer;
}

.filter{
    display: flex;
}

/* USER FUNCTIONAL COMPONENT IN ABOUT PAGE STYLING  */
.user-card{
    padding: 10px;
    border: 1px solid #000;
}